# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta
Library/ArtifactDB
Library/EditorInstance.json
Library/SceneVisibilityState.asset
Library/ShaderCache/EditorEncounteredVariants
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
Temp/UnityLockfile
Temp/workerlic
*.log
*.log
Library/ArtifactDB
Library/SourceAssetDB
*.log
